<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAroUTHcNQ3i22nY3j-6DOH_AoHizHXVHc</string>
	<key>GCM_SENDER_ID</key>
	<string>1019931084341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelReservationApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hotelreservation-d3913</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelreservation-d3913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019931084341:ios:52b2c44470da6d6afe537c</string>
</dict>
</plist>